html, body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
}

.alert-banner {
    top: 10px;
}

.canvas-modal {
    display: flex;
    justify-content: center;
}

.sketch-canvas {
    overflow: hidden;
}